.back-to-top-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;

  bottom: 1.5rem;
  right: 1.5rem;
  border-radius: 50%;

  cursor: pointer;
  border: 2px solid var(--blue);
}
