@import url("https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --white: #ebe6e6;
  --black: #040303;
  --gray: #5c5a5a;
  --dark-gray: #2d2a2a;

  --blue: #438ddc;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #0ba21c;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
  height: 200vh;
  font-family: "Briem Hand", cursive;
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
}

a {
  text-decoration: none;
  color: var(--white);
}

@media only screen and (max-width: 800px) {
  .link {
    display: none;
  }
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-userdragt: none;
  -o-user-drag: none;
  user-select: none;
}
.grey-wrapper {
  background-color: var(--dark-gray);
  margin: 1.5rem;
  border-radius: 0.5rem;
  display: block;
  width: 90%;
  padding: 0rem 0.5rem;
}
